extends layout
block content
  h1.azblue azure-webapp-docker-nodejs

  table(border='0', width='100%', align='center')
    tr
      td
        img(src='img/azure.png')
    tr
      td.azblue
        current_date: &nbsp;&nbsp; #{current_date}
